@model IEnumerable<THERIDEURENT1.models.Driver>

@{
    ViewData["Title"] = "Drivers Register";
}

<h1>Registered Drivers  ꔮ</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DriverId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DriverId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DriverId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
