@model THERIDEURENT1.models.CarReturn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarReturn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElapsedDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElapsedDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarNoNavigation.CarNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.DriverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspectorNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspectorNoNavigation.InspectorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rental)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rental.RentalId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReturnId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
